* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  padding-left: 100px;
  padding-right: 100px;
  background-color: white;
  color: black;
}

.h1 {
  margin-left: 150px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bolder;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.main {
  background-color: rgb(248, 246, 246);
  height: 600px;
  width: auto;
}
.new {
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: end;
  margin-right: 100px;
  padding: 10px;
}

.img {
  height: 35px;
  width: 35px;
  margin: 10px;
}
span {
  color: #00bfff;
}
.card1 {
  height: 250px;
  width: 240px;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 10px;
  border: 1px solid lightgray;
  margin-left: 30px;
  margin-right: 30px;
}
h3 {
  margin-left: 10px;
  padding: 10px;
}
.lists {
  margin: 10px;
}
.input {
  text-decoration: line-through;
  color: grey;
}
.boxes {
  padding-left: 100px;
  padding-right: 100px;
  display: grid;
  grid-template-columns: auto auto auto;
}
